.contentWrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 30px;

  .leftContent {
    width: 67%;

    .currentGroupWrapper {
      margin-top: 30px;
    }

    .inputGroupWrapper {
      margin-top: 50px;
      display: flex;
      justify-content: center;

      .currencyPairsItem {
        margin-right: 10px;
      }
    }
  }

  .rightContent {
    width: 30%;
  }

  .counterWrapper {
    margin: 0 auto;
  }
}
