.buttonGroup {
	display: flex;
	justify-content: center;
	margin-top: 40px;

	.btnStart {
		margin-right: 30px;
	}
	.buttonExtraStop {
		margin-left: 30px;
		margin-right: 30px;
		border-color: brown;
		border-width: 2px;
		color: brown;

		&:hover {
			color: #C05621;
			border-color: #C05621;
		}
	}
}