.activeLink {
	color: tomato;
}

.menuItem {
	display: flex;
	align-items: center;
	width: 50%;

	p{
		font-weight: bold;
		font-size: 18px;
		padding: 10px;
	}
}

.logout {
	color: white;
	width: 100%;
	cursor: pointer;
	transition: .25s ease;

	&:hover {
		color: tomato;
	}
}