.wrapperBox {
	display: flex;
	justify-content: space-between;
}

.activeLink {
	color: tomato;
}

.menuItem {
	display: flex;
	align-items: center;
	width: 50%;

	span{
		font-weight: bold;
		font-size: 18px;
		padding: 10px;
	}
}

.logout {
	width: 100%;
	color: white;
	cursor: pointer;
	transition: .25s ease;
	font-size: 18px;
	padding: 5px 25px;
	background: #9B2C2C;
	text-align: center;
	border-radius: 5px;
	border: 2px solid #9B2C2C;

	&:hover {
		background: transparent;
		color: #9B2C2C;
	}
}